table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #00aeff;
    color: white;
  }
  
  tr:nth-child(even) {background-color: #aee5ff}
  
  tr:last-child {
      border-bottom: 2px solid black;
  }
  
  td:first-child, th:first-child {
      border-left: 2px solid black;
  }
  
  td:last-child, th:last-child {
      border-right: 2px solid black;
  }

  tfoot {
    font-weight: bold;
  }